


.max-w{
  max-width: 1300px;
}

.container {
  text-align: center;

}

body {
  background-color: rgb(204, 223, 204);
   font-family: "Poppins", sans-serif;
}
button{
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.grid{
  display: flex;
}
.grid-2 .grid-sec{
  width: 50%;
}
.grid-3 .grid-sec{
  width: 30%;
}
.grid-4 .grid-sec{
  width: 22%;
}
.grid-5 .grid-sec{
  width: 20%;
}



.Pd .atc{
  display: block;
  width: 100%;
}